@import 'nib'

// Use `stylus -w --include _nib/lib/ style.styl`

// Colours. "base" should be a hex code with the hue you want, and full
// saturation and brightness.
base = #00FFA6


links = darken(desaturate(base, 15%), 30%)
headers = darken(desaturate(base, 10%), 60%)

body
  font-family: 'Source Sans Pro', sans-serif
  color: #444
  line-height: 1.5em
  font-size: 16px
  background-image: url(img/bg.png)
  margin: 20px
  padding: 0

h1, h2, h3
  color: headers
  line-height: 1.1em
  font-weight: 300

p + p
  text-indent: 2em

a
  color: links
  transition: all 0.5s ease

a:hover
  color: darken(links, 40%)

#container
  display: flex
  flex-direction: column
  width 100%

.article header
  box-ordinal-group: 2
  order: 2

header
  width: 100%
  max-width 35em
  margin: auto
  padding: 10px 0
  margin-bottom: -10px
  padding-bottom: 10px

header p
  margin: 10px
  margin-top: 0

header h1, header h2
  @extends header p
  font-size: 2em

header ul
  list-style: none
  margin: 0
  padding: 0
  border-top: 1px solid #bbb
  border-top-color: rgba(0, 0, 0, 0.2)

header a
  display: block
  height: 35px
  line-height: 35px
  padding: 5px 10px
  border-top: 1px solid white
  border-bottom: 1px solid #bbb
  border-bottom-color: rgba(0, 0, 0, 0.2)

header a:hover
  padding-left: 20px

header li:last-child a
  border-bottom: none

section
  background-color: #FFF
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3)
  border-radius: 5px
  padding: 20px 0
  max-width: 35em
  margin auto

section > h2, section > h1, section p
  margin 0 20px

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (   min--moz-device-pixel-ratio: 1.5), only screen and (     -o-min-device-pixel-ratio: 1.5), only screen and (        min-device-pixel-ratio: 1.5), only screen and (                min-resolution: 144dpi), only screen and (                min-resolution: 1.5dppx)
  body
    background-image: url(img/bg@2X.png)
    background-size: 200px 200px

@media only screen and (min-width: 27em) and (max-width: 46.999em)
  header li
    display inline-block
    width 50%
    margin-right -3px

  header li:nth-child(2n)
    border-left 1px solid white

  header li:nth-child(2n+1)
    border-right 1px solid #bbb

  header li:nth-last-child(2) a
    border-bottom: none

@media only screen and (min-width: 47em)
  #container
    display block
    padding-left 18em
    max-width 53em
    margin auto

  header
    width 17em
    position fixed
    top 0
    left 0
    padding 10px
    padding-top 30px

  header li:last-child a
    border-bottom: 1px solid #bbb

  header ul
    border-bottom 1px solid white

  section
    width 100%

@media only screen and (min-width: 47em) and (max-height: 32em)
  header
    position absolute

@media only screen and (min-width: 56em)
  #container
    position absolute
    width w = 53em
    left 50%
    margin-left -(w / 2)
    padding 0

  header
    left 50%
    margin-left -27.5em

  section
    margin-left 18em

@media only screen and (min-width: 1080px)
  body
    font-size 18px

@media only screen and (min-width: 1200px)
  body
    font-size 20px

@media only screen and (min-width: 1440px)
  body
    font-size 22px

@media only screen and (min-width: 1680px)
  body
    font-size 24px