@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot");
  src: url("fonts/icomoon.eot?#iefix") format('embedded-opentype'), url("fonts/icomoon.svg#icomoon") format('svg'), url("fonts/icomoon.woff") format('woff'), url("fonts/icomoon.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
.icon:before,
.icon-home:before,
.icon-email:before,
.icon-twitter:before,
.icon-gplus:before,
.icon-github:before,
.icon-vimeo:before {
  font-family: 'icomoon';
  font-size: 1.2em;
  font-style: normal;
  speak: none;
  font-weight: normal;
  line-height: 1;
  vertical-align: -15%;
  padding-right: 0.52em;
}
.icon-home:before {
  content: 'h';
}
.icon-email:before {
  content: 'e';
}
.icon-twitter:before {
  content: 't';
}
.icon-gplus:before {
  content: '+';
}
.icon-github:before {
  content: 'g';
}
.icon-vimeo:before {
  content: 'v';
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #444;
  line-height: 1.75em;
  font-size: 16px;
  background-image: url("img/bg.png");
  margin: 1.25em;
  padding: 0;
}
h1,
h2,
h3 {
  color: #560561;
  line-height: 1.1em;
  font-weight: 300;
}
p + p {
  text-indent: 2em;
  padding-top: 1.5em;
}
a {
  color: #930da5;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
a:hover {
  color: #580863;
}
img {
  max-width: 100%;
  display: block;
  margin: auto;
}
#container {
  margin: auto;
}
header {
  width: 100%;
  max-width: 35em;
  margin: auto;
  padding: 0.625em 0;
  margin-bottom: -0.625em;
  padding-bottom: 0.625em;
}
header p {
  margin: 0.625em;
  margin-top: 0;
}
header h1,
header h2 {
  margin: 0.3125em;
  margin-top: 0;
  font-size: 2em;
}
header h1 a,
header h2 a {
  text-decoration: inherit;
  color: inherit;
}
header button {
  font-family: 'icomoon';
  font-size: 2em;
  color: #560561;
  cursor: pointer;
  border: none;
  display: block;
  background: none;
  width: 1.25em;
  height: 1.25em;
  margin-left: auto;
  margin-top: -1.4em;
}
.home header button {
  display: none;
}
header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 276px;
  -webkit-transition: height 0.5s ease, opacity 0.5s ease;
  -moz-transition: height 0.5s ease, opacity 0.5s ease;
  -o-transition: height 0.5s ease, opacity 0.5s ease;
  -ms-transition: height 0.5s ease, opacity 0.5s ease;
  transition: height 0.5s ease, opacity 0.5s ease;
}
.hide-nav header ul {
  height: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
}
header li a {
  display: block;
  text-decoration: none;
  height: 35px;
  line-height: 35px;
  padding: 5px 0.625em;
  border-top: 1px solid #bbb;
  border-color: rgba(0,0,0,0.2);
}
header li:last-child a {
  border-bottom: none;
}
section {
  background-color: #fff;
  background-color: rgba(255,255,255,0.5);
  -webkit-box-shadow: 0 0.0625em 0.3125em rgba(0,0,0,0.3);
  box-shadow: 0 0.0625em 0.3125em rgba(0,0,0,0.3);
  -webkit-border-radius: 0.3125em;
  border-radius: 0.3125em;
  padding: 0.625em 0;
  max-width: 35em;
  margin: auto;
  font-weight: 350;
}
section > h2,
section > h1 {
  font-size: 2em;
  font-weight: 200;
  padding-top: 0.3125em;
  margin: 0 0.625em;
}
section p {
  margin: 0 1.25em;
}
.listing {
  text-shadow: 0 1px 2px rgba(0,0,0,0.5);
  list-style: none;
  margin: 0;
  padding: 0;
}
.listing a {
  display: block;
  text-decoration: none;
  position: relative;
}
.listing h3 {
  background: rgba(0,0,0,0.5);
  color: #fff;
  text-decoration: none;
  height: 2.6em;
  line-height: 2.6em;
  margin-bottom: -2.6em;
  padding: 0 1.1em;
  position: relative;
}
.listing p {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  background-color: rgba(0,0,0,0.5);
  margin: 0;
  padding: 0.6em 1.25em;
  line-height: 1.4em;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (   min--moz-device-pixel-ratio: 1.5), only screen and (     -o-min-device-pixel-ratio: 1.5), only screen and (        min-device-pixel-ratio: 1.5), only screen and (                min-resolution: 144dpi), only screen and (                min-resolution: 1.5dppx) {
  body {
    background-image: url("img/bg@2X.png");
    -webkit-background-size: 200px 200px;
    -moz-background-size: 200px 200px;
    background-size: 200px 200px;
  }
}
@media only screen and (min-width: 27em) and (max-width: 46.999em) {
  header ul {
    height: 138px;
  }
  header li {
    display: inline-block;
    width: 50%;
    margin-right: -3px;
  }
  header li:nth-child(2n+1) {
    border-right: 1px solid #bbb;
  }
}
@media only screen and (min-width: 47em) {
  body {
    background-attachment: fixed;
  }
  #container {
    display: block;
    padding-left: 18em;
    width: auto;
    max-width: 53em;
    margin: auto;
  }
  header {
    width: 17em;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    padding-top: 30px;
  }
  header button {
    display: none;
  }
  header ul {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none;
    height: auto;
  }
  .hide-nav header ul {
    height: auto;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  header li:last-child a {
    border-bottom: 1px solid #bbb;
  }
  section {
    width: 100%;
    margin-bottom: 1.25em;
  }
  .listing h3 {
    height: 3.2em;
    line-height: 3.2em;
    margin-bottom: -3.2em;
  }
  .listing p {
    padding: 0.8em 1.25em;
    line-height: inherit;
  }
}
@media only screen and (min-width: 47em) and (max-height: 35em) {
  header {
    position: absolute;
  }
}
@media only screen and (min-width: 56em) {
  #container {
    position: absolute;
    width: 53em;
    left: 50%;
    margin-left: -26.5em;
    padding: 0;
  }
  header {
    left: 50%;
    margin-left: -27.5em;
  }
  section {
    margin-left: 18em;
  }
}
@media only screen and (min-width: 1080px) {
  body {
    font-size: 18px;
  }
}
@media only screen and (min-width: 1200px) {
  body {
    font-size: 20px;
  }
}
@media only screen and (min-width: 1440px) {
  body {
    font-size: 22px;
  }
}
@media only screen and (min-width: 1680px) {
  body {
    font-size: 24px;
  }
}
