/* Generic setup and typographical fun */
html,body {
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Bitter', serif;
	font-size: 16px;
	background: url(bg.png);
	color: #373737;
}

/* The card thingy */
section {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 320px;
	height: 510px;
	margin-left: -160px;
	margin-top: -255px;
    background: white url(me.jpg) no-repeat bottom;
	border-radius: 10px;

	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

/* Show everything on little screens */
@media screen and (max-width: 360px) {
    section {
        left: 20px;
        margin-left: 0;
    }
}
@media screen and (max-height: 550px) {
    section {
        top: 20px;
        margin-top: 0;
    }
}

/* The tabby thingies on the corners */
section:before {
	content: ' ';
	position: absolute;
	top: -20px;
	left: 240px;
	width: 100px;
	height: 100px;
	display: block;
	background-image: url(corner.png);
}

section:after {
	content: ' ';
	position: absolute;
	top: 430px;
	left: -20px;
	width: 100px;
	height: 100px;
	display: block;
	background-image: url(corner.png);
	background-position: -100px;
}

/* Padding is fun */
h1,p,li > a {
	padding: 0 20px;
}

h1 {
    margin-bottom: 0;
}
p {
	font-style: italic;
	font-size: 14px;
    text-align: justify;
}

ul {
	border-top: 1px solid #ccc;
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
    position: relative;
}

/* Pseudo elements for the icons */
li:before, li:after {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
    width: 40px;
    height: 40px;
    background-image: url(icons.png);
    pointer-events: none;
}

/* This one is show on hover */
li:after {
    -webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
    opacity: 0;
}

li:hover:after {
    opacity: 1;
}


li > a {
	display: block;
	height: 40px;
	border-bottom: 1px solid #ccc;
	line-height: 40px;
	padding-left: 80px;
    text-decoration: none;
}

li > a:after {
    content: ' ';
    font-style: italic;
    font-size: 14px;
    color: #aaa;
    text-shadow: none;
}

li > a[title]:hover:after {
    content: ' - ' attr(title);
}

a {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
	color: #373737;
}

a:hover {
	text-shadow: 0 0 5px rgba(81, 173, 177, 0.7);
}

/* Specific things! */
.globe:before {
    background-position: 0px 0px;
}
.globe:after {
    background-position: -40px 0px;
}

.twitter:before {
    background-position: 0px -40px;
}
.twitter:after {
    background-position: -40px -40px;
}

.email:before {
    background-position: 0px -80px;
}
.email:after {
    background-position: -40px -80px;
}

.github:before {
    background-position: 0px -120px;
}
.github:after {
    background-position: -40px -120px;
}

.lastfm:before {
    background-position: 0px -160px;
}
.lastfm:after {
    background-position: -40px -160px;
}
